



    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h2>GET FIT AT YOUR DESK</h2>
                <h3>Turn your office into an exercise club with Slackercise</h3>
            </div>
        <a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,bot&client_id=15961436708.23451280693"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
        </div>

    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">

            <%= image_tag("example-slack.png", class: "featurette-image img-responsive pull-right") %>
            <h2 class="featurette-heading">Meet your friendly neighborhood Slackercise
            </h2>
            <p class="lead">Each day, your Slackercise bot will share fun, easy office exercises with your team to do throughout the day.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
             <%= image_tag("leaderboard.png", class: "featurette-image img-responsive pull-left") %>
            <h2 class="featurette-heading">Keep score

            </h2>
            <p class="lead">Slackercise  tracks how many exercises you do, and shows a leaderboard each week to show which team member is the bomb diggidy.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <%= image_tag("group-office-exercise.png", class: "featurette-image img-responsive pull-right") %>
            <h2 class="featurette-heading">Get fit and have fun
            </h2>
            <p class="lead">Everyone is healthier, happier, and a little bit more ridiculous at the office.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->


    </div>

    <!-- /.container -->
